.profile-image
{
	display: inline-block;
    padding: 5px 5px 0px 5px;
}

.spacer
{
	height: 3rem;
}

.profile-details
{
	display: inline-block;
}

.profile-container
{
	background-color: lightgray;
	border-bottom: #104284 solid 2px;
}
.person-container
{
	background-color: #104284;
}
#post-content
{
	width: 30%;
	height: 5rem;
	font-family: helvetica;
}
#post-name
{
	width: 30%;
}
#header
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	line-height: 3rem;
	background-color: #104284;
}
body 
{
	font-family: helvetica, sans-serif;
}
section
{
	padding-top: 3.5rem;
}
.slimMenuItem
{
	height: 3rem;
}
#slimMenuItemContainer
{
	 /* float: right; */
	 width: 7.75rem;
	 height: 18rem;
}
#slimMenu
{
	float:right;
	width: 3rem;
	height: 3rem;
	background-color: #123;
	cursor: pointer;
	color: white;
	text-align: center;
	font-size: 2rem;
}
#slimMenuContainer
{
	float: right;
	/* display: none; */
}
#sectionHome
{
	display: block;
}

#sectionCourses
{
	display: none;
}

#sectionPeople
{
	display: none;
}

#sectionNews
{
	display: none;
}

#sectionNotices
{
	display: none;
}

#sectionGuestBook
{
	display: none;
}

.logo
{
	position: relative;
	float: left;
	width: 3rem;
	height: 3rem;
}

nav
{
	text-align: center;
	padding: 0 1rem;
}

.news-link
{
	color: white;
}

.sub-heading-container
{
	background-color: #104284;
	font-size: large;
	color: white;
	padding: 1rem 5px;
}

.nav-link
{
	background-color: #104284;
	width: 5.25rem;
	cursor: pointer;
	float: left;
	color: white;
	padding: 0 1.25rem;
}